  <div ng-controller = "registerController">
    <h1>Register</h1>
    <button ng-click="retour()" class="btn waves-effect waves-light">
        Retour
        <i class="material-icons left">input</i>
    </button>
      <div class="row">
        <div class="card-panel teal lighten-2 white-text text-white" ng-show="registerSuccess">
          You have been successfully registered
        </div>
        <form class="col s12">
          <div class="input-field col s6">
            <label for="email">Email</label>
            <input id="email" class="validate" type="text"  ng-model="member.email"/>
          </div>
          <div class="input-field col s6">
            <label for="fullname">Fullname</label>
            <input id="fullname" class="validate" type="text" ng-model="member.fullname" />
          </div>
          <div class="input-field col s6">
            <label for="password">Mot de passe</label>
            <input id="password" class="validate" type="password" ng-model="member.pass" />
          </div>
        </form>
        <button class="btn waves-effect waves-light" ng-click="ajoutMembre()">Envoyer
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
