<!DOCTYPE html>
<html ng-app="coop">
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8"/>
        <script src="lib/angular.min.js" ></script>
        <script src="lib/angular-resource.min.js" ></script>
        <script src="lib/angular-route.min.js" ></script>
        <script src="app/app.js" ></script>
        <title>Co'oP</title>
    </head>
    <body>
      <div ng-controller = "StartController">
        <h1>Login</h1>
        <form>
          <input type="text" ng-model="member.email" placeholder="email"/>
          <input type="password" ng-model="member.pass" placeholder="password"/>
          <input type="submit" ng-click="loginMembre()"/>
        </form>
    </div>
    </body>
</html>
