<div ng-controller="channelsController">


<div>
  <br/>
  <button ng-click="logout()" class="right btn waves-effect waves-light">Deconnexion
    <i class="material-icons right">input</i>
  </button>
</div>

<h1 class="center">Liste des channels</h1>
    <div class="row">
      <form class="col s12">
        <div class="input-field col s6">
          <label for="label">Label</label>
          <input class="validate" id="label" type="text" ng-model="channel.label"/>
        </div>
        <div class="input-field col s6">
          <label for="topic">Topic</label>
          <input class="validate" id="topic" type="text" ng-model="channel.topic"/>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" ng-click="createChannel()">Valider
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  <div class="collection" ng-repeat="channel in channels">
      <a ng-click="findOne(channel._id)" class="collection-item"><span class="new badge" ng-click="findOne(channel._id)">Entrer dans le channel</span>{{channel.label}} - {{channel.topic}}</a>
</div>
