<div ng-controller="channelsController">


<div>
  <br/>
  <button ng-click="logout()" class="right btn waves-effect waves-light">Deconnexion
    <i class="material-icons right">input</i>
  </button>
</div>

<h1 class="center">Liste des channels</h1>
    <div class="row">
      <form class="col s12">
        <div class="input-field col s6">
          <label for="label">Label</label>
          <input class="validate" id="label" type="text" ng-model="channel.label"/>
        </div>
        <div class="input-field col s6">
          <label for="topic">Topic</label>
          <input class="validate" id="topic" type="text" ng-model="channel.topic"/>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" ng-click="createChannel()">Valider
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>

      <ul class="collection" ng-repeat="channel in channels">
        <li class="collection-item">
          <div ng-show = "seeTopic">{{channel.label}} - {{channel.topic}}
          <a class="secondary-content">
            <i ng-click="showForm()" class="material-icons">mode_edit
            </i>
            <i ng-click="findOne(channel._id)" class="material-icons">trending_flat
            </i>
          </a>
        </div>
        <div ng-show="seeForm">
          <form class="left">
              <input class="validate" type="text" ng-model="editChannel.label" placeholder="Label" />
              <input class="validate" type="text" ng-model="editChannel.topic" placeholder="Topic"  />
              <button class="btn waves-effect waves-light" type="submit" nb-click="editChannel(channel._id)">Valider
                <i class="material-icons right">send</i>
              </button>
          </form>
        </div>
      </li>
    </ul>
