<div ng-controller="postController">
    <h1></h1>
    <div class="row">
        <ul class="collection with-header">
            <li class="collection-header" ng-repeat="message in posts">
                <div>{{message.message}} <span
                        class="secondary-content">Posted by {{findMemberName(message.member_id)}}</span></div>
            </li>
        </ul>
    </div>
    <div class="wrap" class="row" style=" width:100%; height: 20%">
        <textarea ng-model="newMessage" style="height: 8em" placeholder="entrez votre message ici"></textarea>
        <button class=" right btn waves-effect waves-light" ng-click="envoiePost()">Envoyer
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
