<div ng-controller="channelsController">
  <h1>Channels</h1>

    <h2>Creer un channel</h2>

    <div class="row">
      <form class="col s12">
        <div class="input-field col s6">
          <label for="label">Label</label>
          <input class="validate" id="label" type="text" ng-model="channel.label"/>
        </div>
        <div class="input-field col s6">
          <label for="topic">Topic</label>
          <input class="validate" id="topic" type="text" ng-model="channel.topic"/>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" ng-click="createChannel()">Valider
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  <div class="collection" ng-repeat="channel in channels">
      <a ng-click="findOne(channel._id)" class="collection-item"><span class="new badge" ng-click="findOne(channel._id)">Entrer dans le channel</span>{{channel.label}} - {{channel.topic}}</a>
</div>
